/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* Base styles */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Show vertical scrollbar */
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Helper classes */
.hidden,
[hidden] {
  display: none !important;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}



/* Custom styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  color: #333;
  margin: 0;
  line-height: 1.6;
}

p {
  padding-left: 400px;
  padding-right: 20px;
  margin-bottom: 20px;
}

#top-header {
  background-color: #fff;
  color: #333;
  padding-left: 400px;
  padding-right: 400px;
  padding-top: 10px;
  padding-bottom:10px;
  display: flex;
  font-size: 15px;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

#contact-info a {
  color: #333;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  margin-right: 10px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #4682b4;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block; /* Display options inline */
}

.dropdown-content a:hover {
  background-color: #6a5acd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#menu-nav {
  background-color: #4682b4;
}

#menu-nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu-nav-bar li {
  display: inline;
}

#menu-nav-bar li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

#menu-nav-bar li a:hover {
  background-color: #6a5acd;
}

.banner {
  background-color: lightslategray;
  text-align: center;
}

.navbar {

  padding-left: 400px;
  padding-right: 400px;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}



.logo {
  width: 150px;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline;
  margin-right: 20px;
}

.navbar ul li a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.navbar ul li a:hover {
  color: #cccccc;
}

.content {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.content h1 {
  font-size: 40px;
  color: #fff;
  -webkit-text-stroke: 1.5px #000000;
}

.content p {
  margin-bottom: 20px;
}

button {
  background-color: #4682b4;
  color: #fff;
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
}

button:hover {
  background-color: #6a5acd;
  transform: translateY(-2px);
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #6a5acd;
  transition: width 0.3s;
  z-index: -1;
}

button:hover::before {
  width: 100%;
}

button:hover span {
  width: 100%;
}

button span {
  background-color: #fff;
  height: 100%;
  width: 0;
  left: 0;
  z-index: -1;
  bottom: 0;
  border-radius: 25px;
  position: absolute;
  transition: 0.5s;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    margin-top: 20px;
  }

  .navbar ul li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}


.sidebar {
  flex: 0 0 auto;
  float: right;
  border-left: 2px black;
  width: 25%;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}

    .search {
      margin-bottom: 20px;

    }

.search input[type="text"] {
  width: calc(100% - 80px);
  padding: 10px;
  margin-right: 10px;
}

.search button {
  margin-top: 10px;
  background-color: #4682b4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
    .search button:hover {
      background-color: #6a5acd;
    }

    /* Footer */

    footer {
      position: relative;
      bottom: 0;
      width: 100%;
      background-color: #4682b4;
      color: #fff;
      text-align: center;
      padding: 10px;
    }


